/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-blue-100: oklch(96% 0.03 250);
  --color-blue-200: oklch(92% 0.05 248);
  --color-blue-300: oklch(85% 0.09 247);
  --color-blue-400: oklch(76% 0.13 246);
  --color-blue-500: oklch(68% 0.16 246);
  --color-blue-600: oklch(61% 0.18 245);
  --color-blue-700: oklch(54% 0.18 245);
  --color-blue-800: oklch(46% 0.17 245);
  --color-blue-900: oklch(38% 0.16 244);
  --color-blue-1000: oklch(27% 0.12 242);

  --color-emerald-100: oklch(95% 0.04 190);
  --color-emerald-200: oklch(91% 0.06 188);
  --color-emerald-300: oklch(84% 0.1 186);
  --color-emerald-400: oklch(75% 0.14 184);
  --color-emerald-500: oklch(66% 0.17 183);
  --color-emerald-600: oklch(58% 0.16 182);
  --color-emerald-700: oklch(51% 0.15 181);
  --color-emerald-800: oklch(44% 0.14 180);
  --color-emerald-900: oklch(35% 0.12 179);
  --color-emerald-1000: oklch(25% 0.09 178);

  --color-rose-100: oklch(96% 0.04 25);
  --color-rose-200: oklch(92% 0.07 24);
  --color-rose-300: oklch(84% 0.13 23);
  --color-rose-400: oklch(75% 0.18 23);
  --color-rose-500: oklch(68% 0.2 23);
  --color-rose-600: oklch(60% 0.2 24);
  --color-rose-700: oklch(52% 0.19 24);
  --color-rose-800: oklch(45% 0.17 25);
  --color-rose-900: oklch(32% 0.11 26);
  --color-rose-1000: oklch(27% 0.07 28);
}
